[global_config]
  title_transmit_fg_color = "#d0d0d0"
  title_transmit_bg_color = "#282828"
  title_inactive_fg_color = "#d0d0d0"
  title_inactive_bg_color = "#666666"

[profiles]
  [[default]]
    palette = "#282828:#d71a1a:#57ba37:#f0d50c:#91aadf:#cf73e6:#b7cbf4:#dedede:#666666:#ff0000:#d8fa3b:#e7c547:#b7cbf4:#b77ee0:#a9c1de:#eeeeee"
    foreground_color = "#d0d0d0"
    background_color = "#121212"
    cursor_color = "#d0d0d0"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = default
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
