#!/bin/bash 

# Save this script into set_colors.sh, make this file executable and run it: 
# 
# $ chmod +x set_colors.sh 
# $ ./set_colors.sh 
# 
# Alternatively copy lines below directly into your shell. 

gconftool-2 -s -t string /apps/guake/style/background/color '#121212121212'
gconftool-2 -s -t string /apps/guake/style/font/color '#d0d0d0d0d0d0'
gconftool-2 -s -t string /apps/guake/style/font/palette '#282828282828:#d7d71a1a1a1a:#5757baba3737:#f0f0d5d50c0c:#9191aaaadfdf:#cfcf7373e6e6:#b7b7cbcbf4f4:#dededededede:#666666666666:#ffff00000000:#d8d8fafa3b3b:#e7e7c5c54747:#b7b7cbcbf4f4:#b7b77e7ee0e0:#a9a9c1c1dede:#eeeeeeeeeeee'
