# --- special colors ---

[Background]
Color=18,18,18

[BackgroundIntense]
Color=18,18,18

[Foreground]
Color=208,208,208

[ForegroundIntense]
Color=208,208,208
Bold=true

# --- standard colors ---

[Color0]
Color=40,40,40

[Color0Intense]
Color=102,102,102

[Color1]
Color=215,26,26

[Color1Intense]
Color=255,0,0

[Color2]
Color=87,186,55

[Color2Intense]
Color=216,250,59

[Color3]
Color=240,213,12

[Color3Intense]
Color=231,197,71

[Color4]
Color=145,170,223

[Color4Intense]
Color=183,203,244

[Color5]
Color=207,115,230

[Color5Intense]
Color=183,126,224

[Color6]
Color=183,203,244

[Color6Intense]
Color=169,193,222

[Color7]
Color=222,222,222

[Color7Intense]
Color=238,238,238

# --- general options ---

[General]
Description=spacecamp
Opacity=1
Wallpaper=

